body{
    margin: 0 0;
    overflow: hidden;
    font-family: "Montserrat";
}
.alcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bc_r1{
    position: fixed;
    margin-left: -12%;
    width: 200%;
    height: 60%;
    margin-top: -40%;
    transform: rotate(-20deg);
    background: rgb(40,40,60);
}
.bc_r{
    position: fixed;
    margin-left: -12%;
    width: 200%;
    height: 60%;
    margin-top: -20%;
    transform: rotate(-20deg);
    background: rgb(238, 76, 76);
}
.bc_r2{
    position: fixed;
    margin-left: -12%;
    width: 200%;
    height: 60%;
    margin-top: 10%;
    transform: rotate(-20deg);
    background: rgb(64, 219, 230);
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
}
.title{
    font-weight: bolder;
    font-size: 30px;
    font-family: "Montserrat";
}
.description{
    font-weight: bolder;
    font-family: "Montserrat";
    margin-top: 10px;
    text-align: center;
}